*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #fd5c63, #E52B50, #BA0021);
}

.overlay-lorem{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    place-items: center;
}

.button-new-lorem{
    border: none;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 800;
    cursor: pointer;
}

p{
    padding-top: 30px;
    max-width: 800px;
    color: rgb(255, 255, 255);
    font-family: 'Patua One', cursive;
    font-size: 20px;
}